.play-container {
    position: relative;
    background-color: #7F7F7F;
    overflow: hidden;
    .play-controls {
        position: absolute;
        top: 0;
        left: 40%;
        width: 144px;
        height: 180px;
        background: url('../img/needle-ip6.png') no-repeat;
        background-size: contain;
        z-index: 1;
        transform-origin: left top;
        //过渡动画
        transition: transform 1.5s;
    }
    .play-wrap {
        position: relative;
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 100px;
        background: url('../img/disc-ip6.png') no-repeat;
        background-size: 300px 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        .run {
            animation: circle 12s linear infinite;
        }
        .btn {
            position: absolute;
            width: 48px;
            height: 48px;
            background: url('../img/list_sprite.png');
        }
        .btn-play {
            background-position: 0 0;
        }
        .btn-pause {
            background-position: 0 -50px;
        }
    }
    .content {
        margin-top: 80px;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #FFF;
        }
    }
}

// 定义动画
@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}